/*云飞版 首页主体，以及私人定制页面css*/

/*banner修改后*/
.swiper-container {
    height:auto;
    width:100%;
    text-align:center;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    z-index:5;
    background:#F8F8F8;
}
.swiper-wrapper {
    position: relative;
    z-index:10;
}
.swiper-slide {
    position:relative;
    text-align:center;
    float:left;
}
.swiper-slide a{
    position:relative;
    width:100%;
    height:100%;
    display:block;
    overflow:hidden;
}
.swiper-slide img{
    width:100%;
    height:auto;
    vertical-align:middle;
    position:relative;
}
.pagination{
    position:absolute;
    height:1.6em;
    width:100%;
    bottom:1.6em;
    z-index:100;

}
.pagination .swiper-pagination-switch{
    display:inline-block;
    height:1em;
    width:1em;
    background:#FFF;
    border-radius:50%;
    margin-right:1em;
	cursor:pointer;
}
.pagination .swiper-active-switch{
    background:#fe5e52;
}

/*首页中间主要部分*/
.i_mainC{
	width:100%;
	height:2750px;
  	background:url(/images_c/i_mainBackground_01.jpg) no-repeat top center;
  	padding-top:65px;
}
/*够优惠*/
.i_discountHeader{
	left:50%;
	margin-left:-64px;
	top:-15px;
}
.i_discountC{
	height:350px;
}
.i_discount{
	top:65px;
}
.i_discount li{
	width:375px;
	height:280px;
	border:1px solid #999;
}
.i_discount li:nth-child(2){
	left:391px;
}
.i_discount li:nth-child(3){
	left:782px;
}
.c_discountCurrent{
	width:375px;
	height:210px;
	background:rgba(0,0,0,.4);
	left:0;
	top:0;
	display:none;
	cursor:pointer;
}
.c_discountCurrent img{
	left:150px;
	top:70px;
}
.c_discountCurrent h5{
	margin-top:140px;
}
.i_discountImg{
	left:0;
	top:0;
}
/*够优惠缓慢放大图片*/
.i_discountImgC{
	width:375px;
	height:210px;
	overflow:hidden;
}
.i_ImgCurrent{
	animation:bigImg2 .5s linear forwards;
	-webkit-animation:bigImg2 .5s linear forwards;
	-moz-animation:bigImg2 .5s linear forwards;
	-o-animation:bigImg2 .5s linear forwards;
	-ms-animation:bigImg2 .5s linear forwards;
}
@keyframes bigImg2{
from {width:375px;height:210px;left:0;top:0;}
to {width:400px;height:224px;left:0;top:0;}
}
@-webkit-keyframes bigImg2{
from {width:375px;height:210px;left:0;top:0;}
to {width:400px;height:224px;left:0;top:0;}
}
@-moz-keyframes bigImg2{
from {width:375px;height:210px;left:0;top:0;}
to {width:400px;height:224px;left:0;top:0;}
}
@-o-keyframes bigImg2{
from {width:375px;height:210px;left:0;top:0;}
to {width:400px;height:224px;left:0;top:0;}
}
@-ms-keyframes bigImg2{
from {width:375px;height:210px;left:0;top:0;}
to {width:400px;height:224px;left:0;top:0;}
}
.i_thePrice{
	width:130px;
	height:38px;
	background:url(/images_c/i_thePrice_03.png) no-repeat;
	background-size:100% 100%;
	left:122px;
}
.i_discount li{
	background:#fff;
}
.i_discount li h6{
	left:18px;
	bottom:34px;
	width:80%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.i_discount li span{
	left:18px;
	bottom:10px;
}
.i_discountArrow{
	right:15px;
	bottom:15px;
}
.i_discount li:hover{
	border:1px solid #4f9cec;
}
/*够欧洲，够海岛，够自由三个列表项*/
.i_mainlist{
	margin-top:35px;
	height:670px;
}	
.i_listMore{
	top:50px;
	right:0;
}
.i_listH{
	left:0 ;
	top:33px;
}
.i_listMore:hover{
	color:#4f9cec;
}
.i_listBigImg{
	left:;
	top:80px;
}
ul.i_listdetailC{
	left:392px;
	top:93px;
	width:770px;
}
.i_listdetailC li:nth-child(3){
	left:0;
	top:295px;
}
.i_listdetailC li:nth-child(4){
	left:391px;
	top:295px;
}
/*够欧洲，够海岛，够自由小动画*/
.i_europeAnimate{
	right:30px;
	top:10px;
}
.i_islandAnimate{
	right:30px;
	top:10px;
}
.i_freeAnimate{
	right:30px;
	top:10px;
}
/*签证,wifi广告*/
.i_mainAdvert{
	height:235px;
	background:#eee;
	margin-top:40px;
}
.i_mainAdvert img{
	border:0 none;
}
.i_visaImg{
	top:13px;
	left:17px;
}
.i_visaImgB{
	box-sizing: border-box;
	width:758px;
	height:212px;
	left:14px;
	top:10px;
}
.i_visaImgB:hover{
	border:3px solid #4f9cec;
}
.i_wifiImg{
	top:13px;
	right:14px;
}
.i_wifiImgB{
	box-sizing: border-box;
	width:363px;
	height:212px;
	right:11px;
	top:10px;
}
.i_wifiImgB:hover{
	border:3px solid #4f9cec;
}
/*首页，只为高品质深度游*/
.i_highQualityC{
	margin-top:80px;
	height:560px;
	width:100%;
	background:url(/images_c/i_mainBackground_02.jpg) no-repeat center center;
}
.i_highQuality{
	margin-top:80px;
	height:560px;
}
.i_highQualityH{
	left:50%;
	margin-left:-171px;
}
.i_highQuality ul{
	top:80px;
}
.i_transparentImg{
	left:86px;
	top:94px;
	visibility: hidden;
}
.i_highQuality ul li{
	visibility: hidden;
}
.i_highQuality ul li:nth-child(2){
	left:392px;
}
.i_highQuality ul li:nth-child(3){
	left:783px;
}
/*只为深度游动画配置*/
.i_highQuality li:nth-child(1){
	animation-duration:.8s;
	animation-delay:.6s;
	-webkit-animation-duration:.8s;
	-webkit-animation-delay:.6s;
	-moz-animation-duration:.8s;
	-moz-animation-delay:.6s;
	-o-animation-duration:.8s;
	-o-animation-delay:.6s;
	-ms-animation-duration:.8s;
	-ms-animation-delay:.6s;
}
.i_highQuality li:nth-child(1) .i_transparentImg{
	animation-duration:.6s;
	animation-delay:1.4s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:1.4s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:1.4s;
	-o-animation-duration:.6s;
	-o-animation-delay:1.4s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:1.4s;
}

.i_highQuality li:nth-child(2){
	animation-duration:1s;
	animation-delay:2s;
	-webkit-animation-duration:1s;
	-webkit-animation-delay:2s;
	-moz-animation-duration:1s;
	-moz-animation-delay:2s;
	-o-animation-duration:1s;
	-o-animation-delay:2s;
	-ms-animation-duration:1s;
	-ms-animation-delay:2s;
}
.i_highQuality li:nth-child(2) .i_transparentImg{
	animation-duration:.6s;
	animation-delay:3s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:3s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:3s;
	-o-animation-duration:.6s;
	-o-animation-delay:3s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:3s;
}
.i_highQuality li:nth-child(3){
	animation-duration:1.2s;
	animation-delay:3.6s;
	-webkit-animation-duration:1.2s;
	-webkit-animation-delay:3.6s;
	-moz-animation-duration:1.2s;
	-moz-animation-delay:3.6s;
	-o-animation-duration:1.2s;
	-o-animation-delay:3.6s;
	-ms-animation-duration:1.2s;
	-ms-animation-delay:3.6s;
}
.i_highQuality li:nth-child(3) .i_transparentImg{
	animation-duration:.6s;
	animation-delay:4.8s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:4.8s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:4.8s;
	-o-animation-duration:.6s;
	-o-animation-delay:4.8s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:4.8s;
}


/*******************定制页面********************/
/*定制页面通栏部分*/
.c_bannerC{
	width:100%;
	height:480px;
	background:url(/images_c/c_banner.jpg) no-repeat center center;
}
.c_bannerBorder{
	top:599px;
	width:100%;
	height:30px;
  	background:url(/images_c/c_headerBottom.jpg) no-repeat bottom center;
}
.c_headerText{
	width:345px;
	left:35px;
	top:95px;
}
.c_headerText p{
	margin-top:10px;;
}
.c_customized{
	width:580px;
	height:420px;
	right:0px;
	top:30px;
}
.c_visaWifi{
	width:351px;
	height:52px;
	left:35px;
	top:300px;
}
.c_visaWifi a{
	height:90%;
	float:left;
	color:#fff;
	border:3px solid #28a8f2;
	border-radius:50px;
	line-height:45px;
	font-size:20px;
	background:rgba(255,255,255,.15);
	cursor:pointer;
}
.c_visa_btn{
	width:125px;
	}
.c_wifi_btn{
	margin-left:20px; 
	width:160px;
	}
.c_visa_icon{
	float:left;
	margin:12px 8px 12px 28px; 
	width:21px;
	height:21px;
	background:url("/images_c/c_visa_icon.png") no-repeat;
}
.c_wifi_icon{
	float:left;
	margin:12px 8px 12px 28px; 
	width:24px;
	height:19px;
	background:url("/images_c/c_wifi_icon.png") no-repeat;
}
/*未展开*/
.c_customizedOff{
	right:0;
	top:0;
	width:340px;
	height:420px;
	background:rgba(0,0,0,.7);
}
.c_customizedOff h2{
	text-align: center;
	line-height:60px;
	margin-top:10px;
}
.c_cusOffIN{
	left:50px;
	top:70px;
}
.c_cusOffIN label{
	display: block;
	height:26px;
}
.c_cusOffIN input{
	width:240px;
	height:30px;
	padding-left:10px;
}
.c_cusOffIN input.c_submitBtn{
	width:110px;
	height:30px;
	background:#28a8f2;
	margin:5px 0 0 140px;
}
.c_cusOffIN input.c_submitBtn:hover{
	background:#29cfff;
}
/*展开*/
.c_customizedOpen{
	right:340px;
	top:0;
	width:0px;
	height:420px;
	background:rgba(0,0,0,.7);
	display: none;
}
.c_cusOpenIN input{
	width:145px;
	height:30px;
	padding-left:10px;
}
select{outline:none 0;border:0 none;}
.c_cusOpenIN select{
	width:155px;
	height:30px;
	padding-left:10px;
}
select.c_cusThemeC option{
	width:155px;
	height:30px;
	line-height:30px;
}
.c_cusOpenIN input.smallWidth{
	width:120px;
	height:30px;
	padding-left:10px;
}
.c_cusOpenLabel2{
	right:0px;
	bottom:7px;
}
.c_cusTabBtn{
	right:6px;
	bottom:10px;
}
.c_cusOpenAddBtn{
	right:7px;
	bottom:17px;
	cursor: pointer;
}
.c_cusOpenReduceBtn{
	right:7px;
	bottom:4px;
	cursor: pointer;
}
/*展开结束*/
.c_dateBtn{
	right:7px;
	bottom:4px;
}
.c_switchC{
	left:-10px;
	top:160px;
}
.c_switch{
	width:20px;
	height:100px;
	background:#28a8f2;
}
.c_switchIcon{
	left:5px;
	top:46px;
}
p.c_moreCus{ 
	left:26px;
	top:2px;
	width:14px;
	line-height:16px;
	color:#28a8f2;
}
/*为什么选择我们*/
.c_choiceUsC{
	position:relative;
	width: 100%;
	height:350px;
	background:url(/images_c/c_caseBackground.jpg) no-repeat bottom center;
}
.c_choiceHeader{
	top:50px;
	left:50%;
	margin-left:-125.5px;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:0s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:0s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:0s;
	-o-animation-duration:.6s;
	-o-animation-delay:0s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:0s;
}
.c_choiceUs{
	top:105px;
	left:50%;
	margin-left:-585px; 
	width:800px;
}

.c_choiceUs li{
	width:188px;
}
.c_choiceUs li h6{
	width:188px;
}
.c_choiceUs li:nth-child(1){
	left:50px;
	animation-duration:.6s;
	animation-delay:1.8s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:1.8s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:1.8s;
	-o-animation-duration:.6s;
	-o-animation-delay:1.8s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:1.8s;
}
.c_choiceUs li:nth-child(2){
	left:350px;
	animation-duration:.6s;
	animation-delay:2.8s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:2.8s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:2.8s;
	-o-animation-duration:.6s;
	-o-animation-delay:2.8s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:2.8s;
}
.c_choiceUs li:nth-child(3){
	left:630px;
	animation-duration:.6s;
	animation-delay:3.3s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:3.3s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:3.3s;
	-o-animation-duration:.6s;
	-o-animation-delay:3.3s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:3.3s;
}
.c_choiceUs li:nth-child(4){
	left:930px;
	animation-duration:.6s;
	animation-delay:3.8s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:3.8s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:3.8s;
	-o-animation-duration:.6s;
	-o-animation-delay:3.8s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:3.8s;
}
/*优秀案例底部*/
.c_caseHeader{
	display:block;
	padding-top:70px;
	margin:0 auto;
}
.c_caseCW{
	width:100%;
	height:575px;
  	
}
.c_caseC{
	height:575px;
}
.c_case li{
	width:375px;
	height:375px;
	border:1px solid #ccc;
	background:#fff;
	margin:30px 4px;
}
.c_case li:nth-child(1){
	margin-left:7px;
	animation-duration:.6s;
	animation-delay:.3s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:.3s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:.3s;
	-o-animation-duration:.6s;
	-o-animation-delay:.3s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:.3s;
}
.c_case li:nth-child(2){
	animation-duration:.6s;
	animation-delay:.8s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:.8s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:.8s;
	-o-animation-duration:.6s;
	-o-animation-delay:.8s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:.8s;
}
.c_case li:nth-child(3){
	animation-duration:.6s;
	animation-delay:1.3s;
	-webkit-animation-duration:.6s;
	-webkit-animation-delay:1.3s;
	-moz-animation-duration:.6s;
	-moz-animation-delay:1.3s;
	-o-animation-duration:.6s;
	-o-animation-delay:1.3s;
	-ms-animation-duration:.6s;
	-ms-animation-delay:1.3s;
}

.c_case li .c_caseImgC{
	width:375px;
	height:300px;
	overflow: hidden;
}
.c_caseImg{
	width:375px;
	height:300px;
	position:absolute;
}
.c_ImgCurrent{
	animation:bigImg .8s linear forwards;
	-webkit-animation:bigImg .8s linear forwards;
	-moz-animation:bigImg .8s linear forwards;
	-o-animation:bigImg .8s linear forwards;
	-ms-animation:bigImg .8s linear forwards;
}

@keyframes bigImg{
from {width:375px;height:300px;left:0;top:0;}
to {width:410px;height:328px;left:-17.5px;top:-14px;}
}
@-webkit-keyframes bigImg{
from {width:375px;height:300px;left:0;top:0;}
to {width:410px;height:328px;left:-17.5px;top:-14px;}
}
@-moz-keyframes bigImg{
from {width:375px;height:300px;left:0;top:0;}
to {width:410px;height:328px;left:-17.5px;top:-14px;}
}
@-o-keyframes bigImg{
from {width:375px;height:300px;left:0;top:0;}
to {width:410px;height:328px;left:-17.5px;top:-14px;}
}
@-ms-keyframes bigImg{
from {width:375px;height:300px;left:0;top:0;}
to {width:410px;height:328px;left:-17.5px;top:-14px;}
}
/*鼠标移入有遮罩特效*/
.c_caseCurrent{
	width:375px;
	height:300px;
	background:rgba(0,0,0,.4);
	left:0;
	top:0;
	display:none;
	cursor:pointer;
}
.c_caseCurrent img{
	left:157px;
	top:120px;
}
.c_case li h5{
	margin-top:180px;
}
.c_case li h6{
	margin:10px 0 0 18px;
}
.c_case li span{
	margin-left:18px;
}
/*提交成功提示弹框*/
.c_maskC{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.c_submit{
	left:50%;
	margin-left:-360px;
	top:320px;
	width:720px;
	height:230px;
	background:#fff;
	border-radius:10px;
}
.c_submit h2{
	margin-top:25px;
}
.c_submit h6{
	width:290px;
	height:48px;
	margin:15px auto 0 auto;
	border-bottom:1px dashed #333;
	border-top:1px dashed #333;
}
.c_closeBtn{
	right:15px;
	top:15px;
	cursor: pointer;
}

/*私人订制 详情页*/
	/*经典案例-----法国*/
.c_parisBanner{ width:100%; height:480px; position:relative; background:url(../images_c/classicCase/parisBanner.jpg) no-repeat center 0;}
.c_parisBanner_text{ width:100%; height:80px; font-size:36px; letter-spacing:3px; position: absolute; left:0; bottom:0; background:rgba(0,0,0,0.5); color:#fff; text-align:center; line-height:80px;}
.c_parisContent{ width:100%; height:4760px; background:url(../images_c/classicCase/parisBg.jpg) no-repeat center 0;}
.c_parisConin{ padding:40px 0 0 170px; box-sizing:border-box; height:4759px;}
.c_parisConin_tit{ padding-left:28px;}
.c_parisConin_tit p{ font-size:14px; color:#fff; line-height:24px;}
.c_parisConin_tit p:nth-of-type(3){ margin-bottom:15px;}
.c_parisConin_text{ padding-left:20px;}
.c_parisConin_text img{ margin-top:20px; display:block; overflow:hidden;}
.c_parisConin_text .aloneP{ width:760px; height:54px; padding-left:18px; box-sizing:border-box; color:#fff; line-height:54px; background:rgba(0,0,0,0.6);}
.c_parisConin_text1{ width:760px; color:#fff; box-sizing:border-box; padding:15px 18px; text-align:justify; background:rgba(0,0,0,0.6);}
.c_parisConin_text1 p{ line-height:24px; color: #fff; font-size:14px;}

/*经典案例-----清迈*/
.c_qingmaiBanner{ background:url(../images_c/classicCase/qingmaiBanner.jpg) no-repeat center 0;}
.c_qingmaiContent{ width:100%; height:6333px; background:url(../images_c/classicCase/qingmaiBg.jpg) no-repeat center 0;}

/*经典案例-----普陀山*/
.c_putuoshanBanner{ background:url(../images_c/classicCase/putuoshanBanner.jpg) no-repeat center 0;}
.c_putuoConin_tit p{ font-size:14px; color:#000; line-height:24px;}
.c_putuoshanContent{ width:100%; height:5327px; background:url(../images_c/classicCase/putuoshanBg.jpg) no-repeat center 0;}

/*2015-11-26日 首页APP页面css样式*/
/*中间内容部分*/
.dl_content{width:100%;height:930px;background:url(../images_new/imgApp/dl_bg_01.png) no-repeat,url(../images_new/imgApp/dl_bg_02.png) 0 310px no-repeat,url(../images_new/imgApp/dl_bg_03.png) 0 620px no-repeat;}
.dl_boxContent{width:100%;height:930px;background:rgba(0,0,0,0.5)}
.dl_top{left:50%;top:62px;margin-left:-360px}
.dl_left{left:12%;top:360px;}

.dl_banner{width:512px;height:580px;left:50%;top:250px;margin-left:-256px;}
.dl_banner .dl_btnBox{width:90px;height:106px}
.dl_banner .dl_btn_left{background:url(../images_new/imgApp/dl_btnleft.png) center center no-repeat;left:-10px;top:40%;cursor:pointer;opacity:1;animation:leftBtn 1s .5s infinite;-webkit-animation:leftBtn 1s .5s infinite;
-moz-animation:leftBtn 1s .5s infinite;-ms-animation:leftBtn 1s .5s infinite;-o-animation:leftBtn 1s .5s infinite;}
.dl_banner .dl_btn_right{background:url(../images_new/imgApp/dl_btnright.png) center center no-repeat;right:-10px;top:40%;cursor: pointer;opacity:1;animation:rightBtn 1s .5s infinite;-webkit-animation:rightBtn 1s .5s infinite;-moz-animation:rightBtn 1s .5s infinite;-ms-animation:rightBtn 1s .5s infinite;-o-animation:rightBtn 1s .5s infinite;}
.dl_banner img{position: absolute}
@keyframes leftBtn{
    50%{margin-left:25px;opacity:0.5}
    100%{margin-left:0;opacity:1}
}
@-webkit-keyframes leftBtn{
    50%{margin-left:25px;opacity:0.5}
    100%{margin-left:0;opacity:1}
}
@-moz-keyframes leftBtn{
    50%{margin-left:25px;opacity:0.5}
    100%{margin-left:0;opacity:1}
}
@-ms-keyframes leftBtn{
    50%{margin-left:25px;opacity:0.5}
    100%{margin-left:0;opacity:1}
}
@-o-keyframes leftBtn{
    50%{margin-left:25px;opacity:0.5}
    100%{margin-left:0;opacity:1}
}

@keyframes rightBtn{
    50%{margin-right:25px;opacity:0.5}
    100%{margin-right:0;opacity:1}
}
@-webkit-keyframes rightBtn{
    50%{margin-right:25px;opacity:0.5}
    100%{margin-right:0;opacity:1}
}
@-moz-keyframes rightBtn{
    50%{margin-right:25px;opacity:0.5}
    100%{margin-right:0;opacity:1}
}
@-ms-keyframes rightBtn{
    50%{margin-right:25px;opacity:0.5}
    100%{margin-right:0;opacity:1}
}
@-o-keyframes rightBtn{
    50%{margin-right:25px;opacity:0.5}
    100%{margin-right:0;opacity:1}
}
.dl_banner img.dl_ipone{left:50%;top:0;margin-left:-144px}
.dl_banner .dl_bannerBox{left:131px;top:80px;width:247px;height:425px;overflow:hidden}
.dl_banner .dl_bannerBox .dl_bannerFlash{width:988px;height:425px}
.dl_banner .dl_bannerBox img{width:247px;cursor: pointer;}
.dl_banner .dl_bannerBox img:nth-of-type(1){top:0;left:0;}
.dl_banner .dl_bannerBox img:nth-of-type(2){top:0;left:247px;}
.dl_banner .dl_bannerBox img:nth-of-type(3){top:0;left:494px;}
.dl_banner .dl_bannerBox img:nth-of-type(4){top:0;left:741px;}
.dl_right{right:-80%;top:95px;width:261px;height:438px}
.dl_right a{width:237px;height:59px;background: #fff;color:#000;line-height:55px;text-align:center}
/*图标*/
@font-face{
		font-family: "imooc-icon";
		src: url("../images_new/imgApp/fonts/icomoon.eot"); /* IE9 兼容模式 */
		src: url("../images_new/imgApp/fonts/icomoon.eot?#iefix") format("embedded-opentype")
			 ,url("../images_new/imgApp/fonts/icomoon.woff") format("woff")
			 ,url("../images_new/imgApp/fonts/icomoon.ttf") format("truetype")
			 ,url("../images_new/imgApp/fonts/icomoon.svg") format("svg");
		font-weight: normal;
		font-style: normal;
	}
.imooc-icon{
		font-family: "imooc-icon";
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
.icon-apple:before{
		content: "\e900";
		margin-left:-15px; 
		padding:0 8px;
		font-size: 23px;
	}
.icon-android:before{
		content: "\e901";
		margin-left:-15px;
		padding:0 8px;
		font-size: 23px;
	}
.icon-apple{left:15px;top:5px}
.icon-android{left:15px;top:90px}
.imooc-icon span{font-family:"微软雅黑"}
.dl_er_App{top:200px;left:15px}
 









